<main class="cart">
    <h1>Carrito de compras</h1>
    <div class="cart__container">
        <div class="cart__products">

        </div>
        <div class="resume">
            <h1>Resumen</h1>
            <div class="resume__info resume__info--resume">

            </div>
            <div class="resume__total">
                <h1>Total</h1>
                <h1 class="totalPrice"></h1>
            </div>
            <button>
                Pagar
            </button>
        </div>
    </div>

</main>