<main class="cart">
    <h1>Carrito de compras</h1>
    {{#each orders}} 
    
    {{/each}}
    <div class="cart__product">
        <h4 class="name">
            {{ name }}
        </h4>
        <img class="thumb__img" src="{{ img }}" alt="">
        <h4>$12000</h4>
       

    </div>
    
</main>