<main class="checkout">
  <a href="/carrito">
    <img class="arrow arrow--product" src="/src/icons/white-right-arrow.svg">Volver al carrito
  </a>
  <h1>Realizar Pago</h1>
  <div class="checkout__container">

    <form class="checkout__form" action="/checkout" method="POST">

      {{#if showError}}
      <h1>ERROR</h1>
      {{/if}}
      <div class="formColum">
        <input type="name" name="name" placeholder="Nombre">
        <input type="text" name="lastname" placeholder="Apellidos">
      </div>
      <input type="address" name="address" placeholder="Dirección">
      <div class="formColum">
        <input type="id" name="document" placeholder="Cédula">
        <select name="payMethod">
          <option disabled="true" selected="true">Método de pago</option>
          <option value="pse">Pagos PSE</option>
          <option value="masterCard">Master Card</option>
          <option value="visa">Visa</option>
        </select>

      </div>

      <input class="checkoutForm__products" name="products" type="hidden">
      <button>Pagar</button>
    </form>
    <div class="resume">
      <h1>Resumen</h1>
      <div class="resume__info resume__info--resume">

      </div>
      <div class="resume__total">
        <h1>Total</h1>
        <h1 class="totalPrice"></h1>
      </div>
    </div>

  </div>
</main>
<script src="/scripts/checkout.js"></script>