<main class="cart">
    <form action="/checkout" method="POST">
    <a href="/tienda">
      <img class="arrow arrow--product" src="/src/icons/white-right-arrow.svg">Volver
    </a>
        <h1>Realizar Pago</h1>

        {{#if showError}}
        <h1>ERROR</h1>
        {{/if}}
        <input type="name" name="name">
        <button>send</button>
    </form>

</main>