.cart{
    padding-top: 100px;
    background: rgba(20, 20, 20, 0.8);
    color: white;
    position: relative;
    h1{
        text-align: left;
        margin: 20px 40px;
        
        @media (max-width: $breakpoint-web){
            margin: 5px 20px;
            font-size: 20px;
        }
        
    }
    
    &__container{
        display: flex;
        justify-content: space-around;
        @media (max-width: $breakpoint-web){
            flex-direction: column;
        }
    }

    &__product{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom:  1px solid #ffffff;
        
        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin: 40px;
            @media (max-width: $breakpoint-web){
                width: 70px;
                height: 65px;
                margin: 5px 10px 5px 5px;
            }
        }
        @media (max-width: $breakpoint-web){
            padding: 10px;
            p:nth-child(n){
                display: none;
            }
        }
    }
           
    &__products{
        width: 60%;
        @media (max-width: $breakpoint-web){
            width: 100%;
            
        }
    }
    
    
    &__button{
       font-size: 30px;
       background: none;
       padding: 0px;
       height: 25px;
       margin-left: 40px;
       img{
        width: 25px;
        height: 25px;
           object-fit: cover;
           margin: 0px;
           
           @media (max-width: $breakpoint-web){
            width: 18px;
            height: 18px;
            }
        }
        @media (max-width: $breakpoint-web){
            margin-left: 10px;
        }
    }
    &__total{
        
    }
    &__info{
        width: 90%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--resume{
            align-self: center;
        }
        @media (max-width: $breakpoint-web){
            height: 80px;
            font-size: 14px;
        }
    }
    h4{
        font-weight: bold;
    }
}