.cart{
    padding-top: 100px;
    background: rgba(20, 20, 20, 0.8);
    color: white;
    position: relative;
    h1{
        text-align: left;
        margin: 20px 40px;
    }
    &__container{
        display: flex;
        justify-content: space-around;
    }

    &__product{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom:  1px solid #ffffff;
        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin: 40px;
        }
    }
    &__products{
        width: 60%;
    }
    &__resume{
        padding: 20px;
        background: rgba(20, 20, 20, 0.8);
        width: 442px;
        height: 452px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            font-size: 24px;
            margin-left: 10px;
        }
        button{
            width: 200px;
            align-self: center;
            padding: 15px;
        }
    }
    &__text{
        display: flex;
        justify-content: space-between;
    }
    &__total{
        width: 90%;
        border-top:  1px solid #ffffff;
        display: flex;
        align-self: center;
        justify-content: space-between;
        .totalPrice{
            margin-right: 10px;
        }
    }
    &__button{
       font-size: 30px;
       background: none;
       padding: 0px;
       height: 25px;
       margin-left: 40px;
       img{
        width: 25px;
        height: 25px;
           object-fit: cover;
           margin: 0px;
       }
    }
    &__info{
        width: 90%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--resume{
            align-self: center;
        }
    }
    h4{
        font-weight: bold;
    }
}