.product{
    width: 45%;
    height: 450px;
    background: rgba(20, 20, 20, 0.8);
    position: absolute;
    right: 0px;
    top: 30%;
    color: white;
    padding: 20px 30px 20px 40px;
    @media (max-width: $breakpoint-web){
        background: none;
        position: relative;
        color: black;
        width: 100%;
        height: 100%;
    }
    a{
        display: block;
        color: white;
        margin-bottom: 20px;
        margin-left: -27px;
        font-size: 20px;
        
        @media (max-width: $breakpoint-web){
            display: none;
        }
        
    }
    h1{
        margin: 10px 0px;
        text-align: left;
        @media (max-width: $breakpoint-web){
            font-size: 20px;
        }
    }
    h2{
        @media (max-width: $breakpoint-web){
            font-size: 20px;
            font-weight: normal;
    }
    }
    h4,h2{
        margin: 20px 0px;
        text-align: left;
        
    }
    h4{
        width: 80%;
    }
    button{
        @media (max-width: $breakpoint-web){
            background: #EFEFEF;
            align-self: center;
        }
    }
}

.inputNum{
    border: none;
    outline: none;
    padding: 5px;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    @media (max-width: $breakpoint-web){
        color: black;
        border-bottom: 1px solid black;
    }
}
.units{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $breakpoint-web){
        justify-content: center;
    }
    
    h4:nth-child(n){
        @media (max-width: $breakpoint-web){
            display: none;
        }
    }
}
.nice-number {
    margin-left: -180px;
    display: inline-flex;
    justify-content: stretch;
    @media (max-width: $breakpoint-web){
        display: none;
    }
    input {
      vertical-align: middle;
      -moz-appearance: textfield;
      box-sizing: content-box;
      margin: 0;
      text-align: center;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    button{
        font-size: 20px;
        background: none;
        color: white;
        border: none;
        padding: 5px;
        outline: none;
        @media (max-width: $breakpoint-web){
            color: black;
        }
    }
  }
  
  