.product{
    width: 45%;
    height: 450px;
    background: rgba(20, 20, 20, 0.8);
    position: absolute;
    right: 0px;
    top: 30%;
    color: white;
    padding: 20px 30px 20px 40px;
    a{
        display: block;
        color: white;
        margin-bottom: 20px;
        margin-left: -27px;
        font-size: 20px;
    }
    h1{
        margin: 10px 0px;
        text-align: left;
    }
    h4,h2{
        margin: 20px 0px;
        text-align: left;
    }
    h4{
        width: 80%;
    }
}
.inputNum{
    border: none;
    outline: none;
    padding: 5px;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
}
.units{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h4{
        display: contents;
    }
}
.nice-number {
    margin-left: -180px;
    display: inline-flex;
    justify-content: stretch;
    input {
      vertical-align: middle;
      -moz-appearance: textfield;
      box-sizing: content-box;
      margin: 0;
      text-align: center;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    button{
        font-size: 20px;
        background: none;
        color: white;
        border: none;
        padding: 5px;
        outline: none;
    }
  }
  
  