.store{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 40px;
    &__filters{
        width: 30%;
        margin-right: 30px;
        h2{
            margin-left: 20px;
            text-align: left;
        }
        h3{
            text-transform: none;
            padding: 10px 10px 10px 40px;
            text-align: left;
            background-color: #EFEFEF;
        }
    }
    &__products{
        width: 70%;
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
}
.info{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 45px;
    a{
        color: black;
        text-decoration: none;
        margin: 5px;
        display: inline-flex;
    }
}
.selected{
    font-weight: bold;
}
.checkbox{
    background-image: url("../src/images/rectSelect.png");
    width: 19px;
    height: 20px;
    margin-right: 10px;
    &--selected{
        background-image: url("../src/images/rectSelected.png");
    }
}
